###> darkanakin41/project-generator
.idea
###< darkanakin41/project-generator
/.certs/*
/.bin/*
###> inetum-orleans/docker-devbox ###
/.docker/sonarqube/sonar.properties
/docker-compose.yml
/Makefile
/*ddb.local.*
/.bash_enter
/.bash_leave
/.docker/postgres/Dockerfile
/.docker/postgres/fixuid.tar.gz
###< inetum-orleans/docker-devbox ###
