# Server Base URL
sonar.core.serverBaseURL=https://{{ core.domain.sub }}.{{ core.domain.ext }}
# Community Branch Plugin
sonar.web.javaAdditionalOpts=-javaagent:./extensions/plugins/sonarqube-community-branch-plugin.jar=web
sonar.ce.javaAdditionalOpts=-javaagent:./extensions/plugins/sonarqube-community-branch-plugin.jar=ce
{%- if sonarqube is defined and sonarqube.config is defined %}
# Custom configuration
{% for key, value in sonarqube.config.items() -%}
{{ key }}={{ value }}
{% endfor %}
{%- endif %}
{% include '.docker/sonarqube/sonar.custom.properties' ignore missing %}
