# Server Base URL
sonar.core.serverBaseURL=https://{{ core.domain.sub }}.{{ core.domain.ext }}
{%- if sonarqube is defined and sonarqube.config is defined %}
{% for key, value in sonarqube.config.items() %}
{{ key }}={{ value }}
{% endfor %}
{%- endif %}